<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hss01248.videocompress">
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <activity android:name=".compare.CompressCompareActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
    </application>

</manifest>